In [1]:
#Utilizo la libreria de Pandas
import pandas as pd

#Guarda los datos en un Data Frame llamdo dfCRE del archivo csv COLOMBIANOS_REGISTRADOS_EN_EL_EXTERIOR_20250403
dfCRE = pd.read_csv("COLOMBIANOS_REGISTRADOS_EN_EL_EXTERIOR_20250403.csv")

C:\Users\Edan\AppData\Local\Temp\ipykernel_18492\2109589165.py:5: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  dfCRE = pd.read_csv("COLOMBIANOS_REGISTRADOS_EN_EL_EXTERIOR_20250403.csv")

In [2]:
#Muestra la cantidad de filas y columnas del data set
dfCRE.shape

(1672255, 17)

In [13]:
#Metodo info() muestra la informacion de las columnas encabezado y el tipo de datos
dfCRE.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1672255 entries, 0 to 1672254
Data columns (total 17 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   País                   1672255 non-null  object
 1   Código ISO país        1672255 non-null  object
 2   Ciudad de Residencia   1672255 non-null  object
 3   Oficina de registro    1672255 non-null  object
 4   Grupo edad             1672255 non-null  object
 5   Edad (años)            1672255 non-null  int64
 6   Área Conocimiento      1672255 non-null  object
 7   Sub Area Conocimiento  1672255 non-null  object
 8   Nivel Académico        1672255 non-null  object
 9   Estado civil           1672255 non-null  object
 10  Género                 1672255 non-null  object
 11  Etnia de la persona    1672255 non-null  object
 12  Estatura (CM)          1672255 non-null  object
 13  Ciudad de Nacimiento   1672255 non-null  object
 14  Localización           1672255 non-null  object
 15  Fecha de Registro      1672255 non-null  object
 16  Cantidad de personas   1672255 non-null  int64
dtypes: int64(2), object(15)
memory usage: 216.9+ MB

In [ ]:
#Metodo drop remueve las columnas que no son necesarias para el analisis
dfCRE_cleaned = dfCRE.drop(columns=["Etnia de la persona", "Cantidad de personas"])

In [ ]:
#Metodo rename se utiliza en las columnas para cambiar el titulo, las sustituciones se realizan en el DataFrame

#PAIS
dfCRE_cleaned.rename(columns={'País': 'PAIS'}, inplace=True)

#CODIGO_ISO_PAIS
dfCRE_cleaned.rename(columns={'Código ISO país': 'CODIGO_ISO_PAIS'}, inplace=True)

#CIUDAD_DE_RESIDENCIA
dfCRE_cleaned.rename(columns={'Ciudad de Residencia': 'CIUDAD_DE_RESIDENCIA'}, inplace=True)

#OFICINA_DE_REGISTRO
dfCRE_cleaned.rename(columns={'Oficina de registro': 'OFICINA_DE_REGISTRO'}, inplace=True)

#GRUPO_EDAD
dfCRE_cleaned.rename(columns={'Grupo edad': 'GRUPO_EDAD'}, inplace=True)

#EDAD_ANOS
dfCRE_cleaned.rename(columns={'Edad (años)': 'EDAD_ANOS'}, inplace=True)

#AREA_CONOCIMIENTO
dfCRE_cleaned.rename(columns={'Área Conocimiento': 'AREA_CONOCIMIENTO'}, inplace=True)

#SUB_AREA_CONOCIMIENTO
dfCRE_cleaned.rename(columns={'Sub Area Conocimiento': 'SUB_AREA_CONOCIMIENTO'}, inplace=True)

#NIVEL_ACADEMICO
dfCRE_cleaned.rename(columns={'Nivel Académico': 'NIVEL_ACADEMICO'}, inplace=True)

#ESTADO_CIVIL
dfCRE_cleaned.rename(columns={'Estado civil': 'ESTADO_CIVIL'}, inplace=True)

#GENERO
dfCRE_cleaned.rename(columns={'Género': 'GENERO'}, inplace=True)

#Estatura_CM
dfCRE_cleaned.rename(columns={'Estatura (CM)': 'ESTATURA_CM'}, inplace=True)

#CIUDAD_DE_NACIMIENTO
dfCRE_cleaned.rename(columns={'Ciudad de Nacimiento': 'CIUDAD_DE_NACIMIENTO'}, inplace=True)

#LOCALIZACION
dfCRE_cleaned.rename(columns={'Localización': 'LOCALIZACION'}, inplace=True)

#FECHA_DE_REGISTRO
dfCRE_cleaned.rename(columns={'Fecha de Registro': 'FECHA_DE_REGISTRO'}, inplace=True)

In [21]:
#Con el nuevo conjunto de datos muestra la informacion sin las columnas eliminadas
dfCRE_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1672255 entries, 0 to 1672254
Data columns (total 15 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   PAIS                   1672255 non-null  object
 1   CODIGO_ISO_PAIS        1672255 non-null  object
 2   CIUDAD_DE_RESIDENCIA   1672255 non-null  object
 3   OFICINA_DE_REGISTRO    1672255 non-null  object
 4   GRUPO_EDAD             1672255 non-null  object
 5   EDAD_ANOS              1672255 non-null  int64
 6   AREA_CONOCIMIENTO      1672255 non-null  object
 7   SUB_AREA_CONOCIMIENTO  1672255 non-null  object
 8   NIVEL_ACADEMICO        1672255 non-null  object
 9   ESTADO_CIVIL           1672255 non-null  object
 10  GENERO                 1672255 non-null  object
 11  ESTATURA_CM            1672255 non-null  object
 12  CIUDAD_DE_NACIMIENTO   1672255 non-null  object
 13  LOCALIZACION           1672255 non-null  object
 14  FECHA_DE_REGISTRO      1672255 non-null  object
dtypes: int64(1), object(14)
memory usage: 191.4+ MB

In [22]:
dfCRE_cleaned.NIVEL_ACADEMICO.unique()

array(['NO INDICA', 'BACHILLERATO', 'PRIMARIA', 'PREGRADO - PROFESIONAL',
       'NINGUNO', 'POSTGRADO - MAESTRIA', 'POSTGRADO - DOCTORADO',
       'PREGRADO - TECNOL�GICO', 'PREGRADO - T�CNICO PROFESIONAL',
       'POSTGRADO - ESPECIALIZACI�N', '(NO REGISTRA)', 'SIN PROFESI�N',
       'ESPECIALIZACI�N', 'TECNOL�GICA', 'UNIVERSITARIO',
       'T�CNICA PROFESIONAL', 'MAESTRIA'], dtype=object)

In [ ]:
#Metodo replace se utiliza para cambiar las palabras o frases en la columna NIVEL_ACADEMICO se realiza la sustitucion correspondiente

dfCRE_cleaned.NIVEL_ACADEMICO = dfCRE_cleaned.NIVEL_ACADEMICO.replace("PREGRADO - TECNOL�GICO", "PREGRADO - TECNOLOGICO")
dfCRE_cleaned.NIVEL_ACADEMICO = dfCRE_cleaned.NIVEL_ACADEMICO.replace("PREGRADO - T�CNICO PROFESIONAL", "PREGRADO - TECNICO PROFESIONAL")
dfCRE_cleaned.NIVEL_ACADEMICO = dfCRE_cleaned.NIVEL_ACADEMICO.replace("POSTGRADO - ESPECIALIZACI�N", "POSTGRADO - ESPECIALIZACION")
dfCRE_cleaned.NIVEL_ACADEMICO = dfCRE_cleaned.NIVEL_ACADEMICO.replace("SIN PROFESI�N", "SIN PROFESION")
dfCRE_cleaned.NIVEL_ACADEMICO = dfCRE_cleaned.NIVEL_ACADEMICO.replace("ESPECIALIZACI�N", "ESPECIALIZACION")
dfCRE_cleaned.NIVEL_ACADEMICO = dfCRE_cleaned.NIVEL_ACADEMICO.replace("TECNOL�GICA", "TECNOLOGICA")
dfCRE_cleaned.NIVEL_ACADEMICO = dfCRE_cleaned.NIVEL_ACADEMICO.replace("T�CNICA PROFESIONAL", "TECNICA PROFESIONAL")

In [ ]:
#Metodo sorted muestra los valores de la columna ordenados de la forma alfabetica

sorted(dfCRE_cleaned.NIVEL_ACADEMICO.unique())

['(NO REGISTRA)',
 'BACHILLERATO',
 'ESPECIALIZACION',
 'MAESTRIA',
 'NINGUNO',
 'NO INDICA',
 'POSTGRADO - DOCTORADO',
 'POSTGRADO - ESPECIALIZACION',
 'POSTGRADO - MAESTRIA',
 'PREGRADO - PROFESIONAL',
 'PREGRADO - TECNICO PROFESIONAL',
 'PREGRADO - TECNOLOGICO',
 'PRIMARIA',
 'SIN PROFESION',
 'TECNICA PROFESIONAL',
 'TECNOLOGICA',
 'UNIVERSITARIO']

In [38]:
#Columna edad en años valor minimo

dfCRE_cleaned.EDAD_ANOS.min()

np.int64(-1)

In [ ]:
#Columna edad en años valor maximo

dfCRE_cleaned.EDAD_ANOS.max()

np.int64(139)

In [ ]:
#Promedio columna edad en años

dfCRE_cleaned.EDAD_ANOS.mean()

np.float64(43.876045818371004)

In [ ]:
#Mediana columna edad en años

dfCRE_cleaned.EDAD_ANOS.median()

np.float64(42.0)

In [ ]:
#Moda columna edad en años

dfCRE_cleaned.EDAD_ANOS.mode()

0    35
Name: EDAD_ANOS, dtype: int64

In [ ]:
#Percentil 50% columna edad en años

dfCRE_cleaned.EDAD_ANOS.quantile(0.5)

np.float64(42.0)

In [39]:
# Desviación Estándar columna edad en años

dfCRE_cleaned.EDAD_ANOS.std()

np.float64(16.73715557266808)

In [41]:
dfCRE_cleaned.EDAD_ANOS.unique()

array([ 16,  -1,  12,  52,  46,  13,  14,  15,  17,  29,  57,  35,  30,
        22,  28,  31,  48,  32,  49,  60,  69,  71,  33,  42,  34,  39,
        36,  25,  38,  68,  55,  27,  53,  65,  74,  51,  37,  44,  58,
        87,  41,  40,  59,  18,  50,  43,  10,  73,  45,  47,   9,  54,
        56,  62,  19,  20,  21,  23,  24,  67,  82,  26,  64,  63,  72,
        75,  84,   8,  70,  11,   0,   1,   2,   3,   4,   5,  79,  80,
         7,  83,  66,  61,  77,  81,   6,  78,  76,  89,  94,  88,  85,
        92,  90,  96,  86,  97,  91,  95, 102,  93, 115, 103,  98,  99,
       109, 101, 111, 100, 105, 104, 110, 135, 106, 108, 107, 112, 113,
       114, 133, 125, 132, 139, 127, 131, 128, 121, 134, 120, 118, 116])

In [42]:
#DataFrame de limpieza se guarda en un documento csv
#index=False para no guardar indices como columna

dfCRE_cleaned.to_csv("COLOMBIANOS_EXTERIOR_LIMPIEZA.csv", index=False)

print("\nEl archivo CSV ha sido guardado.")

El archivo CSV ha sido guardado.